{% extends 'base.html.twig' %}

{% block title %}Page Admin{% endblock %}

{% block body %}

<form method="post">

    {% if app.user %}
        <div class="mb-3">
            Connecté en tant que : {{ app.user.email }}, <br>
            Nom: {{ app.user.firstname }} {{ app.user.name }}, <br>
            Autres : {{ app.user.telephone }} - {{ app.user.address }} - {{ app.user.city }},
            {# <a href="{{ path('app_logout') }}">Logout</a> #}
        </div>   
    {% endif %} 
        <ul>
        <li><a href="{{ path('app_admin_project') }}">Projet</a></li>
        <li><a href="{{ path('app_admin_skill') }}">Compétence</a></li>
        <li><a href="{# {{ path('app_admin_info') }} #}">Informations</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        </ul> 
    

</form>
{% endblock %}