{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}
	<form method="post">

		<div class="formFade">
			<div id="formLogin">


				<form>
					<h2 id="connectlabel" class="fadeIn first">Se connecter</h2>

					{# <label for="inputEmail">Email</label> #}
					<input
					type="email" value="{{ last_username }}" name="email" id="inputEmail" class="fadeIn second" placeholder="Email" {# required autofocus #}>

					{#<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">#}

					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="fadeIn third" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				</form>

				<div id="formFooter">
					<button class="btn btn-lg btn-primary" type="submit">
						Valider
					</button>
					</br>
					<label for="remember_me">Rester Connecter</label>
					<input class="checkboxRemember" type="checkbox" id="remember_me" name="_remember_me" {# checked #}/></br></br>
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Connecté en tant que: 
							{{ app.user.username }} </br>
							<a href="{{ path('app_logout') }}">Se Déconnecter</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

	</form>
{% endblock %}
